<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>emailTick</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <h1>emailTick.</h1>
    <form id="form" name="form" method="post" action="/sendEmails">
      <fieldset>
        <legend><strong>information.</strong></legend>
        <div id="toHolder">
          <label>load json: <input type="file" id="json" name="json" /></label>
        </div>

        <div id="labels"></div>
        <div id="cc">
          <label>cc: <input type="text" id="ccInput" name="cc" /></label><br />
        </div>
        <div id="bcc">
          <label>bcc: <input type="text" id="bccInput" name="bcc" /></label
          ><br />
        </div>

        <label
          >subject:
          <input
            type="text"
            name="subject"
            id="subject"
            value="Being a student at ${college}"
        /></label>

        <label for="message"
          >message: <br /><textarea
            rows="5"
            cols="80"
            name="message"
            id="message"
          >
Hello, my name is ${name} and I am ${age} years old studying at the ${college}</textarea
          >
        </label>

        <div>
          <input type="reset" value="reset" />
          <button type="button" id="formSubmit" form="form" onclick="checker()">
            submit email
          </button>
        </div>
      </fieldset>
    </form>

    <script src="/src/ejsScripts.js"></script>
  </body>
</html>
