<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>emailTick</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <h1>emailTick.</h1>
    <form id="form" name="form" method="post">
      <fieldset>
        <legend><strong>information.</strong></legend>
        <div id="toHolder">
          <label>to: <input type="text" name="to" id="to" /></label>&nbsp;
          <div>
            <button type="button" onclick="handleCC()">cc</button>
            <button type="button" onclick="handleBCC()">bcc</button>
          </div>
        </div>

        <div id="cc"></div>
        <div id="bcc"></div>


        <label
          >subject: <input type="text" name="subject" id="subject"
        /></label>

        <div>
          <label
            >load json: <input type="file" id="json"
          /></label>
        </div>

        <div id="labels"></div>

        <label for="message"
          >message: <br /><textarea
            rows="5"
            cols="80"
            name="message"
            id="message"
          ></textarea>
        </label>

        <div>
          <input type="reset" value="reset" />
          <button type="button" id="formSubmit" form="form" onclick="checker()">
            submit email
          </button>
        </div>
      </fieldset>
    </form>
    
    <script src="/src/ejsScripts.js" type="module"></script>
  </body>
</html>
