<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>emailTick</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <h1>emailTick.</h1>
    <form id="form" name="form" method="post">
      <fieldset>
        <legend>information.</legend>
        <label>To: <input type="text" name="name" /></label>&nbsp;
        <button type="button" id="formSubmit" form="form" onclick="checker()">
          cc
        </button>
        <button type="button" id="formSubmit" form="form" onclick="checker()">
          bcc
        </button>
        <br /><br />
        <label
          >Subject: <input type="number" name="gpa" step="0.1" min="0"
        /></label>
        <br /><br />
        <label for="backgroundInformation"
          >Message: <br /><textarea
            rows="5"
            cols="80"
            name="backgroundInformation"
          ></textarea>
        </label>

        <br /><br />
        <input type="reset" value="reset"/>
        <button type="button" id="formSubmit" form="form" onclick="checker()">
          submit email
        </button>
      </fieldset>
    </form>

    <script>
      function checker() {
        if (
          window.confirm(
            "Are you sure you want to submit your application?\nYou will not be able to change your information once submitted."
          )
        ) {
          document.getElementById("form").submit();
        } else {
          return;
        }
      }
    </script>
  </body>
</html>
